<html ng-app="SwotterApp">
<head>
	<meta charset="utf-8">
	<title>SWOTter</title>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
	<script type="text/javascript">
	var Swotter = angular.module('SwotterApp', []);
	Swotter.controller('SWOTCtrl', ['$scope',
		function($scope) {
			$scope.strengths = [];
			$scope.weaknesses = [];
			$scope.opportunities = [];
			$scope.threats = [];

			$scope.areas = [
				'Strength',
				'Weakness',
				'Opportunity',
				'Threat'
			]

			$scope.addChara = function() {
				switch($scope.charaType.id) {
					case 0:
						$scope.strengths.push($scope.chara);
						break;
					case 1:
						$scope.weaknesses.push($scope.chara);
						break;
					case 2:
						$scope.opportunities.push($scope.chara);
						break;
					case 3:
						$scope.threats.push($scope.chara);
						break;
					default:
				}
				$scope.chara = '';
				$scope.charaType.id = 0;
			};

			$scope.removeChara = function(charaType, chara) {
				var charaList;
				switch(charaType) {
					case 0:
						charaList = $scope.strengths;
						break;
					case 1:
						charaList = $scope.weaknesses;
						break;
					case 2:
						charaList = $scope.opportunities;
						break;
					case 3:
						charaList = $scope.threats;
						break;
					default:
				}
				var charaIndex = charaList.indexOf(chara);
				charaList.splice(charaIndex,1);
			};

		}]);
	</script>
	<style>
	* {
		font-family: sans-serif;
	}
	table {
		border: 0px;
	}
	.swotTable {
		border-color: 2px solid #ffffff;
		text-align: center;
		position: relative;
	}
	.swotTable td {
		width: 50%;
		height: 50%;
		position: relative;
	}
	.area {
		position: relative;
		vertical-align: top;
	}
	.areaTitle {
		position: absolute;
		text-align: right;
		vertical-align: top;
		top: 5px;
		right: 5px;
	}
	.list {
		position: absolute;
		padding:10px;
		vertical-align: top;
		text-align: left;
	}
	.list a,.list a:hover,.list a:visited,.list a:active {
		color: red;
		text-decoration: none;
	}
	</style>
</head>
<body ng-controller="SWOTCtrl">
	<table width="100%">
		<tr><td>
			<h1 align="center">SWOTter</h1>
			<center><sub>A simple browser based SWOT Analysis tool.</sub></center>
		</td></tr>
		<tr><td><center>
			<form ng-submit="addChara()">
				<input type="text" ng-model="chara" placeholder="Characteristic">
				<select ng-model="charaType.id"
					ng-init="charaType.id=0"
					ng-options="areas.indexOf(area) as area for area in areas">
				</select>
				<input type="submit" value="Add">
			</form>
		</center></td></tr>
		<tr>
			<table class="swotTable" width="100%" height="100%">
				<tr>
					<td class="area" bgcolor="#DCFABC">
						<div class="list">
							<ul>
								<li class="listItem" ng-repeat="strength in strengths">{{strength}} <a href="" ng-click="removeChara(0,strength)">🞩</a></li>
							</ul>
						</div>
						<div class="areaTitle"><span ng-if="strengths.length>1">{{strengths.length}}</span> Strengths</div>
					</td>
					<td class="area" bgcolor="#FFCEC0">
						<div class="list">
							<ul>
								<li class="listItem" ng-repeat="weakness in weaknesses">{{weakness}} <a href="" ng-click="removeChara(1,weakness)">🞩</a></li>
							</ul>
						</div>
						<div class="areaTitle"><span ng-if="weaknesses.length>1">{{weaknesses.length}}</span> Weaknesses</div>
					</td>
				</tr>
				<tr>
					<td class="area" bgcolor="#B4EFCF">
						<div class="list">
							<ul>
								<li class="listItem" ng-repeat="opportunity in opportunities">{{opportunity}}  <a href="" ng-click="removeChara(2,opportunity)">🞩</a></li>
							</ul>
						</div>
						<div class="areaTitle"><span ng-if="opportunities.length>1">{{opportunities.length}}</span> Opportunities</div>
					</td>
					<td class="area" bgcolor="#F8BBD1">
						<div class="list">
							<ul>
								<li class="listItem" ng-repeat="threat in threats">{{threat}} <a href="" ng-click="removeChara(3,threat)">🞩</a></li>
							</ul>
						</div>
						<div class="areaTitle"><span ng-if="threats.length>1">{{threats.length}}</span> Threats</div>
					</td>
				</tr>
			</table>
		</tr>
	</table>
</body>
</html>